*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color: hsl(322, 100%, 66%);
    --secondary-color: hsl(321, 100%, 78%);
    --thrid-color: hsl(0, 100%, 63%);
    --four-color: hsl(192, 100%, 9%);
    --five-color: hsl(207, 100%, 98%);
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #c79b53;
}
.container{
    min-height: 100vh;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
@media(max-width: 767px){
    header{
        flex-direction: column;
        gap: 20px;
    }
}
.logo{
    width: 40px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
ul li a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}
@media(max-width: 767px){
    ul li a{
        font-size: 11px;
    }
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
@media(max-width: 767px){
    .content{
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
    }
}
.content .text{
    width: 40%;
    color: white;
}
@media(max-width: 767px){
    .content .text{
     width: 100%;
    }
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
@media(max-width: 767px){
    .content .image{
        width: 100%;
    }
}
.content .image img{
    width: 180px;
}
.icons{
    position: relative;
    top: 50px;
    text-align: center;
}
.icons img{
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.icons img:hover{
    transform: scale(1.2);
}

